@model VinylStore.Web.Models.Artist

<h2>@Model.Name</h2>
<h3>@Model.Description</h3>
<h3>@Model.Country</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date
            </th>
            <th>
                Country
            </th>
            <th>
                Barcode
            </th>
            <th>
                Track
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var album in Model.Albums) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => album.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => album.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => album.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => album.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => album.Track)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-controller= "Supply" asp-action="CheckInStock" asp-route-AlbumId="@album.Id">Order</a>
                <button type="button" id="@album.Id" class="btn btn-info btn-sm" onclick="getTitlesByAlbum(id)">Details</button>
            </td>
        </tr>
}
    </tbody>
</table>
