@model IEnumerable<VinylStore.Web.Models.Artist>;


@foreach (var artist in Model)
{
    <div class="border border-secondary p-2 mb-3" id="@artist.Id " >
        <h6>
            @artist.Name
            <span class="badge badge-pill badge-info">@artist.Score</span>
        </h6>
        <p>@artist.Description</p>
        <p>@artist.Country</p>
        <button type="button" id="@artist.Id"class="btn btn-info btn-sm" onclick="getAlbums(id)">Albums</button>
    </div>
}